* {
	margin: 0;
	padding: 0;
}

body {
    background-color:#F1F1F1;
}

#headerContainer{
	padding-top: 5px;
	width: 100%;
	height: 50px;
    font-family:sans-serif;
	color: #000000;    
    border-bottom: 2px solid #999 ;
    /*fallback (Opera) */
    background: #008800;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #fcfcfc, #dddddd);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#fcfcfc), to(#dddddd));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#fcfcfc', EndColorStr='#dddddd', GradientType=0);
}

#headerLeft{
	float: left;	
	margin-left: 15px;
}

#headerRight{
	float: right;
	margin-right: 30px;
}

#menu{
	width: 100%;
    height: 40px;
    border-bottom: 2px solid #999;
    background-image: url("../images/toolbar-bg-normal.png");
}

.menuItem
{
    vertical-align:middle;
    float:left;
    padding: 10px;
    font-family:sans-serif;
    color: #fff;
}

.menuAction
{
    vertical-align:middle;
    float:right;
    padding: 10px;
    font-family:sans-serif;
    color: #fff;
}


a
{
    color: #fff;
    text-decoration:none;
}
a:hover
{
   text-decoration:underline;
}

.firstMenuItem
{
    margin-left:10px;
    background: none;
}

#mainBody{    
    margin: 0;
}

.project
{
    border-radius:25px;
    border: 2px solid #afc8e6;    
    margin: 0 15px 15px;
    padding: 15px;
    float:left;
    font-family:sans-serif;
    background: #008800;

    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#fcfcfc', EndColorStr='#dddddd', GradientType=0);
}

TABLE#kanbanGrid
{
  width: 100%;
  border-collapse:collapse;
}

#kanbanGrid th
{
    min-width: 200px;
    font-family:sans-serif;
    background-color:#e9e9e9;
    font-weight:bold;
    border-left: #999999 solid 3px;
    padding: 5px;
}

#kanbanGrid td
{
    min-width: 200px;
    border-left: #999999 solid 3px;
    min-height: 1000px;
    height: 1000px;
    vertical-align: top;
}

.story
{
    float:left;
    margin: 5px 5px 5px 20px;
    background: url(../images/postit.png);
    height: 133px;
    width: 175px;
    font-family:cursive;
}

.story p
{
    padding: 10px;
    text-align:center;
}