  <div class='projectName'><%=h @project.name %></div>
  <div class='projectDescription'><%=h @project.description %></div>


  <table id='kanbanGrid'>
    <tr>
        <th>Ready</th>
        <th>Working</th>
        <th>Complete</th>
    </tr>
    <tr>
        <td width='33%'></td>
        <td width='33%'></td>
        <td width='33%'></td>
    </tr>
  </table>

  




