<div id="menu">
      <div class="firstMenuItem menuItem">
        <%=h @project.name %>
      </div>
      <div class="menuItem">
        <a href="#">Home</a>
      </div>
      <div class="menuItem">
        <a href="#">Board</a>
      </div>
      <div class="menuItem">
        <a href="#">Work</a>
      </div>
      <div class="menuAction">
        <a href="./<%=@project.id %>/stories/new">Add Story</a>
      </div>
</div>


  <table id='kanbanGrid'>
    <tr>
        <th>Ready</th>
        <th>Working</th>
        <th>Complete</th>
    </tr>
    <tr>
        <td width='33%'></td>

      
        <td width='33%'></td>

        <td width='33%'></td>

    </tr>
  </table>

  




