<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Blitz</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id="headerContainer">
	<div id="headerLeft">
		Project Image
	</div>
	<div id="headerRight">
		Logged in User
	</div>
</div>
<div style="clear:both;"/>
<div id="menu">
	<div class="menuItem">
		Item 1
	</div>
	<div class="menuItem">
		Item 2
	</div>
	<div class="menuItem">
		Item 3
	</div>
</div>



<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
